<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<span th:replace="forCDN"></span>
</head>

<body style="text-align:center;">
	<header>
		<h1 style="font-size: 60px;;">家計簿</h1>
	</header>
	<hr>

	<main>

		<h3>ログイン</h3>

		<span th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></span>
		<span th:if="${message}" th:text="${message}" style="color:red;"></span>

		<form action="/login" method="post">
			<input type="email" name="email" placeholder="メールアドレス"><br>
				<input type="password" id="textPassword" name="password" placeholder="パスワード"><br>
				<span id="buttonEye" class="fa fa-eye" onclick="pushHideButton()"></span>
			<button class="button-login">ログイン</button>
		</form>
		<br>

		<a href="/account">アカウントをお持ちでない方はこちら</a><br>
		<a href="/password">パスワードを忘れた</a>
	</main>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/JNuSUNl7Nko" title="YouTube video player"
		frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>

	<hr>
	<footer th:replace="footer"></footer>

	<script language="javascript">
		function pushHideButton() {
			var txtPass = document.getElementById("textPassword");
			var btnEye = document.getElementById("buttonEye");
			if (txtPass.type === "text") {
				txtPass.type = "password";
				btnEye.className = "fa fa-eye";
			} else {
				txtPass.type = "text";
				btnEye.className = "fa fa-eye-slash";
			}
		}
	</script>
</body>

</html>