<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
</head>

<body style="text-align:center;">
	<hr>

	<main>

		<h3>ログイン</h3>

		<span th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></span>
		<span th:if="${message}" th:text="${message}" style="color:red;"></span>

		<form th:action="@{/login}" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			<div><input type="text" name="username" placeholder="ID"></div>
			<div><input type="password" id="password" name="password" placeholder="パスワード"></div>
			<button>ログイン</button>
		</form>
		<br>

		<a href="/account">アカウントをお持ちでない方はこちら</a><br>
		<a href="/password">パスワードを忘れた</a>
	</main>

</body>

</html>